<input  type="text" [(ngModel)]="Datos.nombre" placeholder="nombre">
<input  type="text" [(ngModel)]="Datos.edad" placeholder="edad">
<input  type="text" [(ngModel)]="Datos.pais" placeholder="pais">

<p>Nombre: {{Datos.nombre}}</p>
<p>Edad:   {{Datos.edad}}</p>
<p>Pais:   {{Datos.pais}}</p>